n8n-workflows/E02S01-sendjob-intake-webhook.json
{
  "name": "sendjob-intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sendjob-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e02s-01-webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sendjob-intake"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-e02s-01-respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Debug: log incoming fields from Twilio inbound SMS\n// Twilio POSTs application/x-www-form-urlencoded\n// Fields: Body (message text), From (sender E.164), To (Twilio number)\nconst body = $('Webhook').item.json.body;\nconst messageBody = body.Body || '';\nconst fromPhone = body.From || '';\nconst toPhone = body.To || '';\n\nreturn [{ json: { message_body: messageBody, from_phone: fromPhone, to_phone: toPhone, raw: body } }];"
      },
      "id": "c3d4e5f6-e02s-01-parse-fields",
      "name": "Parse SMS Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse SMS Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e02s01-v1",
  "_meta": {
    "instanceId": "sendjob-nexusfound"
  },
  "_NOTES": [
    "WIRING NOTE (E02S01): The Webhook node has TWO outputs in responseNode mode.",
    "Output 0 (top) → Respond to Webhook (fires 200 OK immediately to Twilio)",
    "Output 1 (bottom) → Parse SMS Fields (downstream processing continues async)",
    "This ensures Twilio gets 200 OK within 15 seconds regardless of downstream duration.",
    "",
    "AFTER IMPORT — manual steps required:",
    "1. Verify Webhook node path = 'sendjob-intake' and method = POST",
    "2. Verify Respond to Webhook has responseCode = 200",
    "3. Copy the Production URL from the Webhook node",
    "4. Paste that URL into Twilio Console > Phone Numbers > +13212489804 > Messaging > Webhook",
    "5. Set HTTP method = POST in Twilio",
    "6. Activate the workflow (toggle at top right)",
    "7. Test with Hoppscotch: POST https://nexusfound.cloud/webhook/sendjob-intake",
    "   Body (URL-encoded): Body=Tech+Mike&From=%2B13215550100&To=%2B13212489804",
    "   Expected: 200 OK response"
  ]
}
